src/main/mule/hello-display.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f0472ea9-72f2-42c1-afd5-abd73bd406ec" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-displayFlow" doc:id="54be96c9-0df6-4120-a653-bb1a6bbd738a" >
		<http:listener doc:name="Listener" doc:id="983d20ba-2f64-4402-bb05-67d4f7eb378a" config-ref="HTTP_Listener_config" path="/hellodisplay"/>
		<logger level="INFO" doc:name="LogInitialRequest" doc:id="439167f6-f596-49b0-a8fd-79c998d28280" message="incoming request - #[payload] ttttrr"/>
		<ee:transform doc:name="Transform Message" doc:id="8a005a57-d334-4558-97c5-e1fd751c9276" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	resp: payload.firstname ++ " " ++ payload.lastname 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
